In [1]:
import pandas as pd
import numpy as np
import statistics as st
import opendatasets as od

In [ ]:
#himanshu akrani

In [2]:
od.download("https://www.kaggle.com/datasets/himanshunakrani/iris-dataset")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:

  patilsanuuu

Your Kaggle Key:

  ········

Dataset URL: https://www.kaggle.com/datasets/himanshunakrani/iris-dataset
Downloading iris-dataset.zip to .\iris-dataset

100%|██████████| 0.98k/0.98k [00:00<00:00, 388kB/s]

In [8]:
df=pd.read_csv("iris-flower-dataset/IRIS.csv")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [10]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [11]:
summary=df.groupby('species')['sepal_length'].describe()

In [12]:
print(summary)

                 count   mean       std  min    25%  50%  75%  max
species
Iris-setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [13]:
def compute_stat(x):
    mode_value=st.mode(x)
    median_value=np.median(x)
    return pd.Series([x.count(),x.mean(),x.std(),mode_value,median_value,x.max(),x.min()],index=['count','mean',
                                                                                                 'stad','mode','med','max','min'])

In [14]:
sum_stat=df.groupby('species')['sepal_length'].apply(compute_stat)

In [15]:
print(sum_stat)

species
Iris-setosa      count    50.000000
                 mean      5.006000
                 stad      0.352490
                 mode      5.100000
                 med       5.000000
                 max       5.800000
                 min       4.300000
Iris-versicolor  count    50.000000
                 mean      5.936000
                 stad      0.516171
                 mode      5.500000
                 med       5.900000
                 max       7.000000
                 min       4.900000
Iris-virginica   count    50.000000
                 mean      6.588000
                 stad      0.635880
                 mode      6.300000
                 med       6.500000
                 max       7.900000
                 min       4.900000
Name: sepal_length, dtype: float64

In [18]:
stat_mode=df.groupby('species')['sepal_length'].apply(lambda x:st.mode(x))
print(stat_mode)

species
Iris-setosa        5.1
Iris-versicolor    5.5
Iris-virginica     6.3
Name: sepal_length, dtype: float64

In [19]:
stat_median=df.groupby('species')['sepal_length'].median()
print(stat_median)

species
Iris-setosa        5.0
Iris-versicolor    5.9
Iris-virginica     6.5
Name: sepal_length, dtype: float64

In [20]:
abc=df.groupby('species').size().tolist()
print(abc)

[50, 50, 50]

In [21]:
xyz=df.groupby('species').describe()
print(xyz)

                sepal_length                                              \
                       count   mean       std  min    25%  50%  75%  max
species
Iris-setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

                sepal_width         ... petal_length      petal_width         \
                      count   mean  ...          75%  max       count   mean
species                             ...
Iris-setosa            50.0  3.418  ...        1.575  1.9        50.0  0.244
Iris-versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
Iris-virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                      std  min  25%  50%  75%  max
species
Iris-setosa      0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [23]:
setosa=df[df['species']=='Iris-setosa'].describe()
versicolor=df[df['species']=='Iris-versicolor'].describe()
virginica=df[df['species']=='Iris-virginica'].describe()

In [25]:
print("Setosa Statistics")
print(setosa)
print("\nVeriscolor statistics")
print(versicolor)
print("\nVirginica Statoistics")
print(virginica)

Setosa Statistics
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

Veriscolor statistics
       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

Virginica Statoistics
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000